body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,128,0.8);	
}
.frame {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  border: 7px solid rosybrown;
  border-radius: 15px;
}
.unit {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: rgb(255,255,255)	;
}
.sonsUnit {
  display: flex;
  border: 1px solid gainsboro;
  flex: 1 1 auto;
  
}
.size{
  display: flex;
  flex-direction: row;
}
h1{
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 50px;
}
.squareChoice{
  color: white;
}
.selectors{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 10px;
}
.rainbow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border: 2px solid rosybrown;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.rainbow:hover{
  background-color: rosybrown;
}
.Eraser{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border: 2px solid rosybrown;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.Eraser:hover{
  background-color: rosybrown;
}
.colorSelector{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 20px;
  border: 2px solid rosybrown;
  border-radius: 10px;
}

#changer {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider {
  -webkit-appearance: none;  
  appearance: none;
  align-self: center;
  height: 10px;
  border-radius: 10px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50px;
  background: rosybrown;  
  cursor: pointer; 
}
.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: rosybrown; 
  cursor: pointer; 
}