
.frame{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border: 7px solid black;
}
.unit{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sonsUnit{
    display: flex;
    border: 1px solid gainsboro;
    flex: 1 1 auto;
}
